extends ../layout

include ../components/breadcrumb
include ../components/login-form

block body

    .row.d-flex.align-items-center.flex-column 
        .col-md-5.col-12.mt-3.mt-5

            form#new-password-form(action="/new-password" method="post")
                .form-group
                    label(for="Usr_Password") Nueva contrasena
                    input.form-control(type="password" name="Usr_Password")
                .form-group
                    button.btn.btn-primary(type="submit") 
                        input(type="hidden" name="Usr_Id" value= state.Usr_Id)
                        input(type="hidden" name="CRYPTO_Token" value= state.CRYPTO_Token)
                        span Actualizar contrasena