extends ../layout

include ../components/breadcrumb
include ../components/product-card
include ../components/formulario

block body

    +breadcrumb(state.breadcrumb)

    .row    
        .col-md-12.mt-3
            .ui.link.cards
                +productCard(state.productos)