mixin formulario()

    //- Declare vars
    - const product = state.product 
    - const Prod_Images = state.product ? product.Prod_Images.join(';') : ''

    form#addProductForm
        .form-group
            label(for="titulo") Nombre del producto:
            input.form-control#form-titulo(type="text" name="titulo" value= product ? product.Prod_Title : '')
        .form-group
            label(for="precio") Precio:
            input.form-control#form-precio(type="number" step="0.01" name="precio" value= product ? product.Prod_Price : '')
        .form-group
            label(for="imagenes") Imagenes:
            input.form-control#form-imagenes(type="text" name="imagenes" value= product ? Prod_Images : '')
        .form-group
            label(for="descripcion") Descripcion:
            textarea.form-control#form-descripcion(name="descripcion", cols="30", rows="10")= product ? product.Prod_Description : ''
        .form-group
            input(type="hidden" name="action" value= product ? 'update' : 'create')
            input(type="hidden" name="product" value= product ? product._id : '')
        .form-group
            button#addProductButton(class="btn btn-primary" type="submit") 
                i(class= product ? 'icon save' : 'icon plus')
                span= product ? 'Actualizar' : 'Agregar' 