mixin navigation(props)
    .ui.pointing.menu
        a.item(href="/" class= props.title === 'tienda' ? 'active' : '')
            i(class="shopping bag icon")
            | Shop
        a.item(href="/products")
            i(class="boxes icon")
            | products
        if state.isAuthentication
            a.item(href="/cart")
                i(class="shop icon")
                | My cart
            a.item(href="/orders")
                i.icon.dolly
                | Mis ordenes
            a.item(href="/admin/add-product")
                i.icon.edit
                | Agregar producto
            a.item(href="/admin/products" class= props.title === 'mis productos' ? 'active' : '')
                i.icon.user
                | Mis productos    
        .right.menu
            .ui.menu
            if !state.isAuthentication
                a.item(href="/login")
                    .ui.button 
                        i.icon.sign-in
                        span Log in
                a.item(href="/signup")
                    .ui.button 
                        i.icon.sign-out
                        span Sign up
            else 
                .item
                    form(action="/logout" method="post")
                        button.ui.button Log out
