mixin navigation(props)
    .ui.pointing.menu
        a.item(href="/" class= props.title === 'tienda' ? 'active' : '')
            i(class="shopping bag icon")
            | Shop
        a.item(href="/products")
            i(class="boxes icon")
            | products
        if isAuthenticated
            a.item(href="/cart")
                i(class="shop icon")
                | My cart
            a.item(href="/orders")
                i.icon.dolly
                | Mis ordenes
            a.item(href="/admin/add-product")
                i.icon.edit
                | Agregar producto
            a.item(href="/admin/products" class= props.title === 'mis productos' ? 'active' : '')
                i.icon.user
                | Mis productos    
        .right.menu
            .ui.menu
            if !isAuthenticated
                a.item(href="/login")
                    .ui.button 
                        i.icon.sign-in
                        span Log in
                a.item(href="/signup")
                    .ui.button 
                        i.icon.sign-out
                        span Sign up
            else 
                a#logout-btn(class="item" href="#")
                    .ui.button 
                        i.icon.sign-out
                        span Log uot
