mixin profile
    .col-md-4.col-sm-6.col-xs-12
        article.material-card.Red
            h2
                span Shahnur Alam
                strong
                    i.fa.fa-fw.fa-magic
                    |   Qui Maleficus
            .mc-content
                .img-container
                    img.img-responsive(src='https://wpdmcdn.s3.amazonaws.com/me.jpg')
                .mc-description
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ...   
            a.mc-btn-action
                i.fa.fa-bars
            .mc-footer
                h4
                    | Social
                a.fa.fa-fw.fa-facebook(target='_parent' href='https://www.wpdownloadmanager.com/')
                a.fa.fa-fw.fa-twitter(target='_parent' href='https://www.wpdownloadmanager.com/')
                a.fa.fa-fw.fa-linkedin(target='_parent' href='https://www.wpdownloadmanager.com/')
                a.fa.fa-fw.fa-google-plus(target='_parent' href='https://www.wpdownloadmanager.com/')