extends ../layout

include ../components/breadcrumb
include ../components/product-card
include ../components/product-detail

block body

    +breadcrumb(state.breadcrumb)

    //- Declare vars
    - const products = state.products

    .row    
        .col-md-12.col-12.mt-5

            .ui.middle.aligned.divided.list
                for product in products
                    .item
                        .right.floated.content
                            .ui.button 
                                i.icon.trash
                                | Eliminar
                        img.ui.avatar.image(src= product.Prod_Id.Prod_Images[0])
                        .content
                            a(href=`/products/${product.Prod_Id.Prod_Slug_Url}`)
                                | #{product.Prod_Id.Prod_Title} (#{product.Item_Quantity})

