extends ../layout

include ../components/breadcrumb
include ../components/product-card

block body

    +breadcrumb(state.breadcrumb)

    .row    
        .col-md-12.col-12.mt-3
            .ui.link.cards(class= state.products.length === 0 ? 'd-flex justify-content-center mt-5' : '')
                +productCard

